*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

#container-home {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // padding: 1rem;
}

#sticker-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    >*:first-child {
        width: 50%;
    }
}

#placeholder-main {
    background-color: var(--tg-theme-bg-color);
}
